{% extends 'base.html.twig' %}

{% block body %}
    <h1>Person</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>Personid</th>
                <td>{{ person.personid }}</td>
            </tr>
            <tr>
                <th>Personname</th>
                <td>{{ person.personname }}</td>
            </tr>
            <tr>
                <th>Phones</th>
                <td>{% if person.phones %}{{ person.phones|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('person_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
