{% block header %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="author" content="Marcos Maia">
        <meta name="description" content="PHP Chalenge - S2IT">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>PHP Chalenge - S2IT</title>

        <link rel="stylesheet" type="text/css" href="{{asset('bundles/chalenge/bootstrap/css/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('bundles/chalenge/fontawesome/css/font-awesome.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('bundles/chalenge/css/dashboard.css')}}">
        <!-- Google Fonts -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic|Montserrat:400,700">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('chalenge_default_index')}}">PHP Chalenge</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{path('person_index')}}">List People</a></li>
                        <li><a href="{{path('shiporder_index')}}">List Ship Orders</a></li>
                    </ul>
                </div>
            </div>
        </nav>
{% endblock %}
