{%include "ChalengeBundle:Default:header.html.twig" %}
<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-sm-12 col-md-12 main"> -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main">
            <h3 class="page-header">Available Imports</h3>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <a href="{{path('person_modal_index')}}">
                        <div class="btn btn-lg btn-success" >
                            <h1><span class="fa fa-sign-in"></span></h1>
                            <span>Import People XLM</span>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <a href="{{path('shiporder_index')}}">
                        <div class="btn btn-lg btn-primary" >
                            <h1><span class="fa fa-sign-in"></span></h1>
                            <span>Import Ship Order XML</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{%include "ChalengeBundle:Default:scripts.html.twig" %}
{%include "ChalengeBundle:Default:footer.html.twig" %}
