<script type="text/javascript" src="{{asset('bundles/chalenge/jquery/jquery.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/chalenge/bootstrap/js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/chalenge/js/jquery.maskMoney.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/chalenge/js/dashboard.js')}}"></script>
