{%include "ChalengeBundle:Default:header.html.twig" %}
{% block body %}
<div class="modal fade" id="import_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form id="import_modal_form" action="{{path('shiporder_upload')}}" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">New Import</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
                                <label class="control-label" for="form-field-1">Select the ShipOrders CSV file</label>
                                <div class="input-control text" data-role="input-control">
                                    <input class="form-control" type="file" id="xml_file" name="xml_file">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="importFile" class="btn btn-primary">
                        Import File
                    </button>
                    <button type="button" id="closeModal" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <a href="#" data-toggle="modal" data-target="#import_modal">
                        <div class="btn btn-lg btn-success" >
                            <h1><span class="fa fa-sign-in"></span></h1>
                            <span>Import XML</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <h3 class="sub-header">ShipOrder list</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Orderid</th>
                                <th>Orderperson</th>
                                <th>Shipto</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for shipOrder in shipOrders %}
                            <tr>
                                <td><a href="{{ path('shiporder_show', { 'id': shipOrder.id }) }}">{{ shipOrder.id }}</a></td>
                                <td>{{ shipOrder.orderid }}</td>
                                <td>{{ shipOrder.orderperson }}</td>
                                <td>{{ shipOrder.shipto.name }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('shiporder_show', { 'id': shipOrder.id }) }}">show</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{%include "ChalengeBundle:Default:scripts.html.twig" %}
<script type="text/javascript">
    {% if openModal == 1 %}
    $(window).ready(function () {
        $('#import_modal').modal('toggle');
    });
    {% endif %}
</script>
{%include "ChalengeBundle:Default:footer.html.twig" %}
