{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shiporder</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shipOrder.id }}</td>
            </tr>
            <tr>
                <th>Orderid</th>
                <td>{{ shipOrder.orderid }}</td>
            </tr>
            <tr>
                <th>Orderperson</th>
                <td>{{ shipOrder.orderperson }}</td>
            </tr>
            <tr>
                <th>Shipto</th>
                <td>{{ shipOrder.shipto }}</td>
            </tr>
            <tr>
                <th>Items</th>
                <td>{{ shipOrder.items }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('shiporder_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
